@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background: linear-gradient(to right, #55439e, #932fff);
  padding: 0;
  margin: 0;
  height: 10px;
  opacity: 0.87;
}
.info-title {
  width: 480px;
}
.main-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
img#image-top-left {
  width: 284px;
  height: 284px;
  position: absolute;
  left: -20px;
  top: 650px;
}
img#image-bottom-left {
  width: 298px;
  height: 267px;
  position: absolute;
  top: -65px;
  left: -30px;
}
img#image-right {
  width: 500px;
  height: auto;
  position: absolute;
  right: 0px;
  top: 30px;
}
.info {
  width: 100%;
  max-width: 1117px;
  z-index: 1;
  position: absolute;
  top: 246px;
  left: 162px;
  display: flex;
  justify-content: space-between;
}

.info-title h1 {
  font-style: normal;
  font-weight: bold;
  font-style: 40px;
  line-height: 60px;
  color: white;
  font-family: Lato, sans-serif;
  margin-top: 0;
  margin-bottom: 30px;
  width: 100%;
  max-width: 300px;
  min-width: 200px;
}

.info-title p {
  font-family: Open Sans, sans-serif;
  width: 383px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: white;
  margin-top: 0;
  margin-bottom: 50px;
  width: 100%;
}
input#info_text {
  width: 100%;
  position: relative;
}
input#info_text {
  margin: auto;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(45px);
}
.info_submit input::placeholder {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: white;
}
.info_submit input#info_text[type='text'] {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: white;
  position: relative;
}
input#info_button {
  width: 120px;
  height: 60px;
  background-color: #4f3aa7;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: white;
  outline: none;
  border: none;
  position: relative;
  top: -71px;
  right: -350px;
}
div#cartao {
  width: 420px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(60px);
  position: absolute;
  top: 80px;
  right: -100px;
}
.info-card {
  z-index: 13;
  min-width: 200px;
  max-width: 900px;
  position: relative;
  left: 100px;
  top: -80px;
}
p#modelo {
  font-family: Lato;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.219);
  position: relative;
  top: 30px;
  right: 70px;
}
img#image-chip {
  position: relative;
  right: 70px;
  bottom: 20px;
  top: 150px;
  z-index: 10;
}
p#num-cartao {
  font-family: Lato;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.219);
  position: relative;
  top: 115px;
  right: 70px;
}
p#nome-cartao {
  font-family: Lato;
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.219);
  position: relative;
  top: 115px;
  right: 70px;
}
p#valid-cartao {
  font-family: Lato;
  font-size: 9px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.219);
  position: relative;
  top: 75px;
  right: -140px;
}
p#datevalid-cartao {
  font-family: Lato;
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.219);
  position: relative;
  top: 65px;
  right: -146px;
}
img#image-contac {
  position: relative;
  bottom: -250px;
  top: 140px;
  right: 65px;
  z-index: 10;
}
img#image-master {
  width: 60px;
  position: relative;
  bottom: -200px;
  top: 100px;
  right: -130px;
  z-index: 10;
}
footer {
  font-family: Lato;
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  position: absolute;
  top: 910px;
  right: 20px;
}

body {
  overflow: hidden;
}
